*.suo
/packages/*.*

wwwroot.7z
RockWeb/App_Data/Logs/RockExceptions.csv
RockWeb/Bin/org.newpointe.Giving.dll
RockWeb/Bin/org.newpointe.ServiceUCalendar.dll
RockWeb/Assets/calendar-full.json
RockWeb/Assets/calendar.json
