*.suo
/packages/*.*
.vs

*/obj/
*.orig

org.newpointe./bin/*
!org.newpointe.*/bin/Release
!org.newpointe.*/bin/Debug
org.newpointe.*/bin/Release/*
org.newpointe.*/bin/Debug/*
!org.newpointe.*/bin/Release/org.newpointe*
!org.newpointe.*/bin/Debug/org.newpointe*
